# PYTHON DAY #1

In [ ]:
print("Hello world!")

In [ ]:
"""python was invented on 1991"""

if 5>2:
    print("5 is greater")

In [ ]:
#variables(data types)
a = float(1)
print(a)

In [ ]:
x = "sai"
y = "kumar"
z = "2002"

In [ ]:
print(x+y+z)
print(z)

In [ ]:
type(z)

# day 2

In [ ]:
# variables are nothing but a containers / references of data in wich we store localy or globaly.

In [ ]:
youtube = 5

In [ ]:
youtube

In [ ]:
a = "sk"

In [ ]:
type(a)

In [ ]:
a , b , c = 4, 4.1, "sk"

In [ ]:
a,b,c

In [ ]:
x = 5
y = 2

if(x<y):
    print("x is greater")
else:
    print("x is less")

In [ ]:
a = True
b = False

In [ ]:
type(a)

# video 3

In [ ]:
#complex numbers
n = 75 + 2j

In [ ]:
type(n)

In [ ]:
n.real

In [ ]:
n.imag

In [ ]:
a = input("enter the value of a ")
b = input(" enter the value of b ")

In [ ]:
a

In [ ]:
c = int(input("enter value of a"))

In [ ]:
a

In [ ]:
a,b,c

In [ ]:
a + c

In [ ]:
#mathamatical operations

a = 50 
b = 40

In [ ]:
a + b

In [ ]:
a * b

In [ ]:
a - b

In [ ]:
a / b

In [ ]:
a % b

In [ ]:
a =  int(input("value of a- "))
b =  int(input("value of b- "))
c = int(input("value of c- "))
print(a + b)
print(b / a)

In [ ]:
# any integer value and a name.
6sai
#hint - " "

# DAY4 video

In [ ]:
a = '6'
b = 'sai'

In [ ]:
a + b

In [ ]:
str_ing = 'saikumar'

In [ ]:
print(str_ing.isalnum())

In [ ]:
print(str_ing.isalpha())

In [ ]:
print(str_ing.isspace())

In [ ]:
str_ing.isalpha()

In [ ]:
str_ing.istitle()

In [ ]:
str_ing.isupper()

In [ ]:
str_ing.islower()

In [ ]:
print(str_ing.endswith('s'))

In [ ]:
print(str_ing.startswith('s'))

bolean functions

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
True or True

# day 5

#conditional statments.

4 types of conditional statment.
1. if
2. if-else
3. elif
4. nested if

In [ ]:
#if statment
a = 74

if a < 75:
    print("its smaller")

In [ ]:
#if else statment

b = int(input("enter a number"))

if b < 75:
    print("b is smaller") #true condition
else:
    print("b is bigger")

In [ ]:
#elif statment...

num = 7

if (num== 0):
    print("number is 0")
    
elif(num < 5):
    print("number is <5")
elif(num >= 7):
    print("larger")
else:
    print("number is smaller")

In [ ]:
#nested if statment...
num = -15

if num >=0:
    if num == 0:
        print("zero value")
    else:
        print("positive value")
else:
    print("negative value")

In [ ]:
# assignment elif statment...

 #n = 100

# DAY6

In [ ]:
#loops

#for loop 
#while loop
#nested loops

for letter in 'saikumar':
    print ('current letter:', letter)

In [ ]:
fruits = ['apple','kiwi', 'dragon fruit']
for fruit in fruits:
    print('current fruit:', fruit)
    
print("here are fruits")

In [ ]:
#while loop
#example1
i = 1
j = 5
while i <= j:
    print("5")
    i = i + 1

In [ ]:
#example=2 #nested loop example 1
notes = 5
i = 1
j = 1
while i < notes:
    print(i)
    i += 1
else:
    while j < 2:
        print("this is false statment")
        j = j + 1
    print("no 10rs is avaliable")

In [1]:
#nested loops
#example2
i = 2
while(i<100):
    j = 2
    while(j <= (i/j)):
        if not(i % j): break
        j = j+1
    if(j> i/j): print (i, "is prime")
    i = i + 1
        
print ("good bye!")

2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime
good bye!