# DAY6

In [1]:
#for 
#while loop
#nested loop

In [2]:
#for loops

for letter in 'saikumar':
    print('current letter', letter)

current letter s
current letter a
current letter i
current letter k
current letter u
current letter m
current letter a
current letter r

In [3]:
#example-2
fruits = ['apple', 'kiwi', 'dragon fruit']

In [4]:
for fruit in fruits:
    print('current fruit: ', fruit)

current fruit:  apple
current fruit:  kiwi
current fruit:  dragon fruit

In [5]:
fruits

['apple', 'kiwi', 'dragon fruit']

In [6]:
fruit

'dragon fruit'

In [7]:
#while loop
#ex-1

i = 1
j = 3
while i <=j:
    print("5")
    i = i+1

5
5
5

In [8]:
#example-2

notes = 5
i = 6
j = 1
while i < notes:
    print(i)
    i += 1
else:
    while j < 2:
        print("this is false statment")
        j = j+1
    if(j> i/j):
        print(i, "is prime")
        i = i+1
print("good byee!")

this is false statment
good byee!

In [9]:
#nested loop
#example-2
i =2
while(i<100):
    j = 2
    while(j <= (i/j)):
        if not(i%j):
            break
        j = j+1
    if(j> i/j):
        print(i, "is prime")
    i = i+1
    
print("good bye!")

2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime
good bye!

# day 7

In [10]:
#lists - python

In [20]:
[]

[]

In [21]:
type([])

list

In [23]:
lst = [1,2,3,4,5,'sai']

In [24]:
type(lst)

list

In [25]:
lst

[1, 2, 3, 4, 5, 'sai']

In [26]:
#sort
lst1 = [1,5,6,9,2,4]

In [27]:
lst1

[1, 5, 6, 9, 2, 4]

In [28]:
lst1.sort()

In [29]:
lst1

[1, 2, 4, 5, 6, 9]

In [30]:
#append
lst1.append(7)

In [31]:
lst1

[1, 2, 4, 5, 6, 9, 7]

In [37]:
lst2 = []

In [42]:
lst2.append(1)

In [43]:
lst2

[['sai', 'kumar'], 1]

In [44]:
#insert
lst3 = [1,4,5,6]

In [54]:
lst3.insert(2,3)

In [55]:
lst3

[1, 2, 3, 4, 5, 6]

In [47]:
#index
lst = [1,2,3,4,5,6]

In [51]:
lst.index(3)

2

In [53]:
print(lst[4])

5

In [56]:
#reverse
lst.reverse()

In [57]:
lst

[6, 5, 4, 3, 2, 1]

In [60]:
lst.index(1)

5

In [61]:
#remove
lst.remove(5)

In [62]:
lst

[6, 4, 3, 2, 1]

In [67]:
#pop()
lst.pop(1)

4

In [68]:
lst

[6, 3]

In [70]:
#clear
lst.clear()

In [71]:
lst

[]

In [72]:
#extend
lst = ['sai','kumar']

In [76]:
lst.extend('kumar')

In [77]:
lst

['sai', 'kumar', 's', 'a', 'i', 'k', 'u', 'm', 'a', 'r']

In [78]:
#copy
lst.copy()

['sai', 'kumar', 's', 'a', 'i', 'k', 'u', 'm', 'a', 'r']

In [79]:
#count
a = [1,1,2,2,2,2,2,4,5,6]

In [80]:
a

[1, 1, 2, 2, 2, 2, 2, 4, 5, 6]

In [82]:
a.count(1)

2

In [84]:
#min & max
min(a)

1

In [85]:
max(a)

6

# day-8

In [86]:
#set
#dict
#tuples

In [87]:
#set
a = set()

In [88]:
type(a)

set

In [89]:
set_var = {1,2,3,4}

In [90]:
type(set_var)

set

In [91]:
set_var = {1,2,2,3,3,3,3,4}

In [92]:
set_var

{1, 2, 3, 4}

In [93]:
set_1 = {"amazon","flipkart"}
print(set_1)
type(set_1)

{'amazon', 'flipkart'}

set

In [94]:
#add
set_1.add("Myntra")

In [95]:
set_1

{'Myntra', 'amazon', 'flipkart'}

In [96]:
#difference

set1 = {'Myntra', 'amazon', 'flipkart'}
set2 = {'Myntra', 'amazon', 'flipkart','snapdeal','relience'}

In [97]:
set2.difference(set1)

{'relience', 'snapdeal'}

In [98]:
set2.difference_update(set1)

In [99]:
set1

{'Myntra', 'amazon', 'flipkart'}

In [100]:
set2

{'relience', 'snapdeal'}

In [101]:
#dict

type({})

dict

In [102]:
my_dict = {"shop1":"amazon", "shop2":"flipkart","shop3":"snapdeal"}

In [103]:
type(my_dict)

dict

In [104]:
#indexing
my_dict["shop2"]

'flipkart'

In [106]:
for x in my_dict.values():
    print(x)

amazon
flipkart
snapdeal

In [107]:
#adding & updating dict
my_dict['shop4'] = 'shopsy'

In [108]:
my_dict

{'shop1': 'amazon',
 'shop2': 'flipkart',
 'shop3': 'snapdeal',
 'shop4': 'shopsy'}

In [112]:
#nested dict

car1_model = {'audi':1991}
car2_model = {'hundai':1981}
car3_model = {'honda':1995}

car_type = {'car1':car1_model, 'car2':car2_model, 'car3':car3_model}

In [113]:
car_type

{'car1': {'audi': 1991}, 'car2': {'hundai': 1981}, 'car3': {'honda': 1995}}

In [114]:
#accessing items
print(car_type['car1'])

{'audi': 1991}

In [115]:
print(car_type['car1']['audi'])

1991

In [116]:
#tuples

my_tuple = tuple()

In [117]:
#[], {},()
type(my_tuple)

tuple

In [122]:
my_1 = ('abhi','sai','vinod','vinod','vinod')

In [119]:
my_1[0]

'abhi'

In [120]:
my_1.index('vinod')

2

In [123]:
my_1.count('vinod')

3

# day9

In [1]:
#functions in python

num = 19

if num%2==0:
    print("even")
else:
    print("odd")

odd

In [2]:
def even_odd(num):
    if num%2==0:
        print("even")
    else:
        print("odd")

In [5]:
even_odd(19)

odd

In [6]:
#print vs return

def hey_subscriber():
    print("subscribe my channel")

In [8]:
hey_subscriber()

subscribe my channel

In [9]:
val = hey_subscriber()

subscribe my channel

In [10]:
print(val)

None

In [14]:
#return

def add_num(num1,num2):
    return num1+num2

In [15]:
val = add_num(25,25)

In [16]:
print(val)

50

In [17]:
val

50

In [20]:
#positional & Keyword arguments
def yt(name, sub=0):
    print("my Youtube channel name is {} and its subscribers are {}".format(name,sub))

In [25]:
yt('saikumarreddy', 127 )

my Youtube channel name is saikumarreddy and its subscribers are 127

In [26]:
#   *args , **kwargs

#example
def hello(*args, **kwargs):
    print(args)
    print(kwargs)

In [29]:
hello("vinod","ravi","abhi",mysub = 127, comm = 20, views = 1020)

('vinod', 'ravi', 'abhi')
{'mysub': 127, 'comm': 20, 'views': 1020}

In [30]:
#opt2
lst = ['vinod', 'ravi', 'abhi']
dict_1 = {'mysub': 127, 'comm': 20, 'views': 1020}

In [32]:
hello(*lst,**dict_1)

('vinod', 'ravi', 'abhi')
{'mysub': 127, 'comm': 20, 'views': 1020}

In [33]:
lst = [1,2,3,4,5,6,7,8,9]

In [36]:
#situation based..

def evenoddsum(lst):
    even_sum = 0
    odd_sum = 0
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum = odd_sum+i
    return even_sum, odd_sum

In [37]:
evenoddsum(lst)

(20, 25)

# day- 10

In [ ]:
#lambda function..

Syntax:
    lambda arguments : expression

In [1]:
#example-1

x = lambda a:a+10

In [2]:
print(x(5))

15

In [4]:
#example-2

x = lambda a,b : a * b
print(x(5,6))

30

In [6]:
# def example of lambda

def func(n):
    return lambda a : a * n
double = func(2)
print(double(11))

22

In [7]:
def func(n):
    return lambda a : a * n
double = func(2)
triple = func(3)

print(double(11))
print(triple(11))

22
33

# day-11

In [ ]:
#Map function

synatx:
    map(function, iterables)

In [8]:
def even_odd(num):
    if num%2==0:
        return "The number is odd"
    else:
        return "the number is even"

In [10]:
even_odd(23)

'the number is even'

In [20]:
def even_odd(num):
    if num%2==0:
        return "The number {} is odd".format(num)
    else:
        return "the number {} is even".format(num)

In [14]:
even_odd(23)

'the number 23 is even'

In [15]:
def mapf(a,b):
    return a + b

In [17]:
#map to list convertion..
x = map(mapf, ('apple','banana','cherry'),('kiwi','dragon fruit','lemon'))

In [19]:
print(list(x))

['applekiwi', 'bananadragon fruit', 'cherrylemon']

In [21]:
lst = [1,2,3,4,5,6,7,8,9,24,56,78]

In [22]:
list(map(even_odd,lst))

['the number 1 is even',
 'The number 2 is odd',
 'the number 3 is even',
 'The number 4 is odd',
 'the number 5 is even',
 'The number 6 is odd',
 'the number 7 is even',
 'The number 8 is odd',
 'the number 9 is even',
 'The number 24 is odd',
 'The number 56 is odd',
 'The number 78 is odd']